@import "~normalize.css";

// === Fonts ===

@mixin font-main {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

// === /Fonts ===

* {
  box-sizing: border-box;
}

body {
  @include font-main();
  margin: 0 auto;
  background: no-repeat url('../img/background.jpg');
  background-size: cover;
}

// === Header ===
.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;

  .burger-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 320px;
    height: 100vh;
    top: 0;
    left: -320px;
    background-color: rgba(255, 255, 255, .8);
    opacity: .8;
    transition: .8s;

    &--active {
      top: 0;
      left: 0;
    }

    .burger-header {
      margin: 5% 0 10% 5%;
    }

    .burger-main {
      margin: 0 5%;

      .burger-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        height: 80vh;

        li {
          padding: 1% 0 1% 4%;
          font-size: 22px;
          margin-left: 15%;
          width: 120px;
          color: white;
          border: 1px solid chocolate;
          border-radius: 15px;
          background-color: chocolate;
          transition: .4s;
          cursor: pointer;
        }

        li:hover {
          color: chocolate;
          background: none;
        }

        li:active {
          transform: translate(2px, 2px);
        }
      }
    }
  }

  .button-burger {
    z-index: 2;
    transition: .9s;
    width: 50px;
    border-radius: 20px;
    background: rgba(81, 231, 248, 0.74);
    border: none;
    outline: none;
  }

  .button-burger--active {
    margin-left: 10%;
  }

  .button-slider {
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(86, 255, 86);
    height: 30px;

    .button-train {
      text-align: center;
      width: 60px;
    }
    .button-play {
      text-align: center;
      width: 60px;
    }

    .mode-switcher {
      position: absolute;
      content: '';
      top: 0;
      left: 60px;
      width: 60px;
      height: 30px;
      background-color: rgb(255, 49, 49);
      transition: .3s;

      &--move {
        left: 0;
      }

      &:hover {
        cursor: pointer;
        box-shadow: -1px -1px 5px black,
                      1px 1px 5px black;
      }
    }
  }
}
// === /Header ===

// === Field ===
.field-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1600px;
  transition: 1s;

  &--clear {
    transform: translateX(-500px);
    opacity: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    width: 300px;
    height: 300px;
    perspective: 500px;

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;

      .card-face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 10px;
        box-shadow:  5px 5px 12px #ae9fa8,
                    -5px -5px 12px #ffffff;
        transition: .4s;

        &--game-mode {
          box-shadow:  3px 3px 12px #ff5353,
                       -3px -3px 12px #ff5353;
          opacity: .5;
        }

        &--game-mode-right {
          box-shadow:  3px 3px 12px #78ff8f,
                       -3px -3px 12px #78ff8f;
        }

        &:hover {
          // transform: translateY(-6px);
          box-shadow:  10px 10px 20px #81777d,
                      -7px -7px 20px #b1b1b1;
        }

        &__front,
        &__back {
          .card-img {
            img {
              width: 100%;
            }
          }

          .card-content {
            position: absolute;
            display: flex;
            justify-content: center;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 10px;
            height: 60px;
            background: rgba(0, 0, 0, 0.3);
            box-shadow:  6px 6px 12px #b6b9c3;
            align-items: center;
            transition: .4s;

            &--disable {
              transform: translateY(60px);
            }

            .card-word {
              @include font-main();
              text-align: center;
              font-size: 28px;
              text-transform: uppercase;
              color: #ffffff;
              text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
            }

            .card-button {
              position: absolute;
              bottom: 0;
              right: 0;
              padding: 7px 7px 0 7px;
              background: rgba(81, 231, 248, 0.74);
              border-top-left-radius: 20px;
              border: none;
              outline: none;

              &:hover {
                background: rgba(81, 231, 248, 0.3);
                cursor: pointer;
              }
            }
          }
        }

        &__front {}

        &__back {
          transform: rotateY(180deg);
        }
      }
    }

    .card-inner.is-flipped {
      transform: rotateY(180deg);
    }
  }
}

// === /Main ===

// === Footer ===

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 2%;

  .footer-button {
    @include font-main();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 3px black;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border: none;
    border-radius: 50px;
    outline: none;
    transition: .5s;

    &:hover {
      background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
      transform: translate(2px, 2px);
    }
  }

  .footer-rating {}
}

// === /Footer ===