@import 'normalize.scss';
// === Fonts ===

@font-face {
    font-family: 'Georgia, Normal';
    src: url('../../../assets/fonts/Georgia.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Georgia, Italic';
    src: url('../../../assets/fonts/Georgia\ Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Arial, Normal';
    src: url('../../../assets/fonts/Arial.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Arial, Italic';
    src: url('../../../assets/fonts/Arial\ Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

// === / Fonts ===

// === Mixins ===
@mixin font-main {
    font-family: Arial, Normal;
    font-weight: 400;
}

@mixin font-georgia-normal {
    font-family: Georgia, Italic;
    font-style: normal;
    font-weight: 400;
}

@mixin font-georgia-italic {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
}

@mixin font-arial-normal {
    font-family: Arial, Normal;
    font-style: normal;
    font-weight: 400;
}

@mixin font-arial-italic {
    font-family: Arial, Italic;
    font-style: italic;
    font-weight: 400;
}

// @mixin button-main{}

// === / Mixins ===

// === Variables ===
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #fff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
}

body {
    @include font-main();
    max-width: 1920px;
    margin: 0 auto;
    background: no-repeat 50% 0% url(../../../assets/images/header-background.png);
}

.section-outer {}

.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}
// === / Common ===

// === Header ===
.section-header {
    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;

        .header-logo {
            &__title {
                @include font-georgia-normal();
                margin: 0 0 10px 0;
                font-size: 32px;
                line-height: 110%;
                color: $color-primary;
                letter-spacing: 0.06em;
            }

            &__description {
                @include font-arial-normal();
                margin: 0 0 0 4px;
                font-size: 13px;
                line-height: 15px;
                color: $color-light-xl;
                letter-spacing: 0.1em;
            }
        }

        .header-menu {
            .header-list {
                display: flex;
                padding-bottom: 5px;

                &__item {
                    list-style: none;

                    a {
                        @include font-arial-normal();
                        font-size: 15px;
                        line-height: 160%;
                        color: $color-dark-s;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            padding-bottom: 4px;
                            color: $color-light-s;
                            border-bottom: 3px solid $color-primary;
                        }
                    }

                    &:first-child {
                        a {
                            padding-bottom: 4px;
                            color: $color-light-s;
                            border-bottom: 3px solid $color-primary;
                        }
                    }
                }

                .header-list__item + .header-list__item {
                    margin-left: 36px;
                }
        }
        }
    }
}
// === / Header ===

// === Not-only ===

// === / Not-only ===




// === / Header ===
// === / Header ===
// === / Header ===
// === / Header ===
