@import 'normalize.scss';
// === Fonts ===

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('../../../assets/fonts/Georgia.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url('../../../assets/fonts/Georgia\ Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Arial, sans-serif;
    src: url('../../../assets/fonts/Arial.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Arial, sans-serif;
    src: url('../../../assets/fonts/Arial\ Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

// === / Fonts ===

// === Mixins ===
@mixin font-main {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

@mixin font-georgia-normal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font-georgia-italic {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
}

@mixin font-arial-normal {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font-arial-italic {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}

@mixin after-footer-animation {
    &::after {
        position: absolute;
        left: -10px;
        width: 300px;
        height: 40px;
        padding: 5px;
        content: "";
        background-color: #0005;
        border-radius: 10px;
        opacity: 0;
        transition: .4s;
    }

    &:hover::after {
        opacity: .5;
    }
}

// === / Mixins ===

// === Variables ===
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #fff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
}

body {
    @include font-main();

    max-width: 1280px;
    margin: 0 auto;
    background: no-repeat 50% 0% url(../../../assets/images/header-background.png);
}

.section-outer {}

.section-inner {
    max-width: 1200px;
    margin: 0 auto;
}
// === / Common ===

// === Header ===
.section-header {
    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;

        .header-logo {
            &__title {
                @include font-georgia-normal();

                margin: 0 0 9px 0;
                font-size: 32px;
                line-height: 110%;
                color: $color-primary;
                letter-spacing: 0.06em;
            }

            &__description {
                @include font-arial-normal();

                margin: 0 0 0 4px;
                font-size: 13px;
                line-height: 15px;
                color: $color-light-xl;
                letter-spacing: 0.1em;
            }
        }

        .header-menu {
            .header-list {
                display: flex;
                padding-bottom: 5px;

                &__item {
                    list-style: none;

                    a {
                        @include font-arial-normal();

                        font-size: 15px;
                        line-height: 160%;
                        color: $color-dark-s;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            padding-bottom: 4px;
                            color: $color-light-s;
                            border-bottom: 3px solid $color-primary;
                        }
                    }

                    &:first-child {
                        a {
                            padding-bottom: 4px;
                            color: $color-light-s;
                            border-bottom: 3px solid $color-primary;
                        }
                    }
                }

                .header-list__item + .header-list__item {
                    margin-left: 36px;
                }
            }
        }
    }
}
// === / Header ===

// === Not-only ===
.section-not-only {
    .section-inner {
        display: flex;
        padding-top: 59px;

        .not-only-content {
            margin-right: 42px;

            &__title {
                @include font-georgia-normal();

                width: 310px;
                padding-top: 164px;
                margin-bottom: 41px;
                font-size: 44px;
                line-height: 130%;
                color: $color-light-xl;
            }

            &__description {
                @include font-arial-normal();

                width: 460px;
                margin-bottom: 41px;
                font-size: 15px;
                line-height: 160%;
                color: $color-dark-s;
            }

            &__button {
                @include font-georgia-normal();

                width: 207px;
                height: 52px;
                font-size: 17px;
                line-height: 130%;
                color: $color-dark-3xl;
                letter-spacing: 0.06em;
                background-color: $color-primary;
                border: none;
                border-radius: 100px;
                outline: none;
                transition: .4s;

                &:hover {
                    cursor: pointer;
                    background-color: $color-primary-light;
                    box-shadow: 0 0 10px 1px $color-primary;
                }
            }
        }

        .not-only-dog {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}
// === / Not-only ===

// === About ===

.section-about {
    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 175px 96px 175px;

        .about-pets {}

        .about-content {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding-top: 15px;

            &__title {
                @include font-georgia-normal();

                width: 370px;
                margin-bottom: 24px;
                font-size: 35px;
                line-height: 130%;
                color: $color-dark-l;
                letter-spacing: 0.06em;
            }

            &__description {
                @include font-arial-normal();

                width: 430px;
                margin: 0;
                font-size: 15px;
                line-height: 160%;
                color: $color-dark-xl;

                &:nth-child(even) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

// === / About ===

// === Our-friends ===

.section-our-friends {
    background: $color-light-l;

    .section-inner {
        display: flex;
        flex-direction: column;
        padding: 81px 0 100px 0;

        .our-friends__title {
            @include font-georgia-normal();

            padding-left: 3px;
            margin-bottom: 59px;
            font-size: 35px;
            line-height: 130%;
            color: $color-dark-l;
            text-align: center;
            letter-spacing: 0.06em;
        }

        .slider-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52px;
                height: 52px;
                border: 2px solid $color-primary;
                border-radius: 100px;
                transition: .4s;

                &:hover {
                    cursor: pointer;
                    background-color: $color-primary-light;
                    border: 2px solid $color-primary-light;
                    box-shadow: 0 0 10px 1px $color-primary;
                }
            }

            .items-wrapper {
                display: flex;

                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: 270px;
                    height: 435px;
                    padding-bottom: 30px;
                    background: $color-light-s;
                    border-radius: 9px;
                    transition: .4s;

                    &--photo {}

                    &--name {
                        @include font-georgia-normal();

                        margin: 0 0 4px 2px;
                        font-size: 20px;
                        line-height: 23px;
                        color: $color-dark-l;
                        letter-spacing: 0.06em;
                    }

                    &--button {
                        @include font-georgia-normal();

                        width: 187px;
                        height: 52px;
                        font-size: 17px;
                        line-height: 130%;
                        color: $color-dark-3xl;
                        letter-spacing: 0.06em;
                        background-color: $color-light-xl;
                        border: 2px solid $color-primary;
                        border-radius: 100px;
                        outline: none;
                        transition: .4s;

                        &:hover {
                            cursor: pointer;
                            background-color: $color-primary-light;
                            border: 2px solid $color-primary-light;
                            box-shadow: 0 0 10px 1px $color-primary;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $color-light-xl;
                    }
                }

                &__item + .items-wrapper__item {
                    margin-left: 90px;
                }
            }
        }

        .our-friends__rest {
            display: flex;
            justify-content: center;
            padding-top: 60px;

            &--button {
                @include font-georgia-normal();

                width: 261px;
                height: 52px;
                font-size: 17px;
                line-height: 130%;
                color: $color-dark-3xl;
                letter-spacing: 0.06em;
                background-color: $color-primary;
                border: none;
                border-radius: 100px;
                outline: none;
                transition: .4s;

                &:hover {
                    cursor: pointer;
                    background-color: $color-primary-light;
                    box-shadow: 0 0 10px 1px $color-primary;
                }
            }
        }
    }
}

// === / Our-friends ===

// === Help ===

.section-help {
    .section-inner {
        padding: 81px 0 45px 0;

        .help__title {
            @include font-georgia-normal();

            padding-left: 2px;
            margin-bottom: 59px;
            font-size: 35px;
            line-height: 130%;
            color: $color-dark-l;
            text-align: center;
            letter-spacing: 0.06em;
        }

        .help-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 2px;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 60px 55px;

                &--logo {
                    margin-bottom: 26px;
                }

                &--title {
                    @include font-georgia-normal();

                    font-size: 20px;
                    line-height: 115%;
                    color: $color-dark-l;
                    letter-spacing: 0.06em;
                }
            }
        }
    }
}

// === / Help ===

// === In addition ===

.section-in-addition {
    background: $color-light-l;

    .section-inner {
        display: flex;
        justify-content: center;
        padding: 82px 0 101px 0;

        .in-addition__photo {
            padding-top: 10px;
            margin-right: 30px;
        }

        .in-addition-donation {
            &__title {
                @include font-georgia-normal();

                margin-bottom: 20px;
                font-size: 35px;
                line-height: 130%;
                color: $color-dark-l;
                letter-spacing: 0.06em;
            }

            &__bank {
                @include font-georgia-normal();

                margin-bottom: 20px;
                font-size: 15px;
                line-height: 110%;
                color: $color-dark-l;
                letter-spacing: 0.06em;
            }

            &__card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 349px;
                height: 43px;
                padding: 0 15px;
                margin-bottom: 20px;
                text-decoration: none;
                background-color: $color-primary;
                border-radius: 9px;
                transition: .4s;

                &--logo {
                    padding-top: 3px;
                }

                &--number {
                    @include font-georgia-normal();

                    font-size: 20px;
                    line-height: 115%;
                    color: $color-dark-l;
                    letter-spacing: 0.06em;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $color-primary-light;
                    box-shadow: 0 0 10px 1px $color-primary;
                    transform: translate(-2px, -2px);
                }

                &:active {
                    cursor: pointer;
                    background-color: $color-primary-light;
                    box-shadow: 0 0 10px 1px $color-primary;
                    transform: translate(2px, 2px);
                }
            }

            &__description {
                @include font-arial-italic();

                width: 380px;
                font-size: 12px;
                line-height: 18px;
                color: $color-dark-m;
            }
        }
    }
}

// === / In addition ===

// === / Footer ===

.section-footer {
    background: no-repeat 50% 0% url(../../../assets/images/footer-gradient-background.png);

    .section-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;

        .footer-questions {
            &__title {
                @include font-georgia-normal();

                padding-top: 17px;
                margin-bottom: 36px;
                font-size: 35px;
                line-height: 130%;
                color: $color-light-xl;
                letter-spacing: 0.06em;
            }

            &__email {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                text-decoration: none;

                &--logo {
                    padding-top: 3px;
                    margin-right: 20px;
                }

                &--address {
                    @include font-georgia-normal();

                    font-size: 20px;
                    line-height: 115%;
                    color: $color-primary;
                    letter-spacing: 0.06em;
                }

                @include after-footer-animation();
            }

            &__phone {
                position: relative;
                display: flex;
                align-items: center;
                text-decoration: none;

                &--logo {
                    padding-top: 3px;
                    margin-right: 20px;
                }

                &--number {
                    @include font-georgia-normal();

                    font-size: 20px;
                    line-height: 115%;
                    color: $color-primary;
                    letter-spacing: 0.06em;
                }

                @include after-footer-animation();
            }
        }

        .footer-visit {
            padding-right: 6px;

            &__title {
                @include font-georgia-normal();

                padding-top: 17px;
                margin-bottom: 33px;
                font-size: 35px;
                line-height: 130%;
                color: $color-light-xl;
                letter-spacing: 0.06em;
            }

            &__address {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                text-decoration: none;

                &--logo {
                    margin-right: 19px;
                }

                &--location {
                    @include font-georgia-normal();

                    font-size: 20px;
                    line-height: 115%;
                    color: $color-primary;
                    letter-spacing: 0.06em;
                }

                @include after-footer-animation();
            }
        }
    }
}

// === / Footer ===
